{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block meta_tags %}
    <meta name="description" content="{% translate 'Creating periodic notification' %}">
    <meta name="og:site_name" content="Notifications">
    <meta property="og:description" content="{% translate 'Creating periodic notification' %}" />
    <meta property="og:url" content="{% url 'notifications:create_periodical_notification' %}" />
{% endblock meta_tags %}

{% block title %}{% translate 'Creating periodic notification' %}{% endblock title %}

{% block content %}
    <section>
        {% include 'misc/includes/navbar.html' with user=user %}

        {% if only_inactive == user.choose_sending.count %}
            <div>
                <h5>{% translate 'Before you can create a notification, you need to connect one of your networks' %}. <a href="{% url 'auth:profile' %}">{% translate 'Connect' %}</a></h5>
            </div>
        {% else %}
            {% if user.is_subscribed or all_notifications < 10 %}
                <div>
                    {% crispy form %}
                </div>
            {% else %}
                <h1>{% translate 'To create more notifications, you need to be a sub' %}</h1>
            {% endif %}
        {% endif %}
    </section>
{% endblock content %}

{% block script %}
    <script>
        let notification_time = document.getElementById('id_notification_periodicity_num');
        let label_notif_periodic = document.querySelector('label[for=id_notification_periodicity_num]')
        let every_day = document.getElementById('id_dates_type_1');
        let user_dates = document.getElementById('id_dates_type_2');
        let input_dates = document.getElementById('id_dates');
        input_dates.autocomplete = "off"
        let times = document.querySelector('.times');
        const today = new Date()
        let tomorrow =  new Date()
        tomorrow.setDate(today.getDate() + 1)

        function check() {
            if(every_day.checked) {
                label_notif_periodic.style.display = 'inline-block'
                notification_time.style.display = 'inline-block';
                input_dates.className = 'd-none'
                if (input_dates.value) {
                    input_dates.value = '';
                }
                datepicker = null;
            } else if (user_dates.checked) {
                label_notif_periodic.style.display = 'none';
                notification_time.style.display = 'none';
                input_dates.className = 'd-inline'
                if (notification_time.value) {
                    notification_time.value = 1;
                }
                let elem = document.querySelector('input[name="dates"]');
                let datepicker = new Datepicker(elem, {
                    maxNumberOfDates: 15,
                    minDate: tomorrow,
                    format: 'yyyy-mm-dd'
                }); 
            }
        }
    </script>
{% endblock script %}