{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block meta_tags %}
    <meta name="description" content="{% translate 'Creating single notification' %}">
    <meta name="og:site_name" content="Notifications">
    <meta property="og:description" content="{% translate 'Creating single notification' %}" />
    <meta property="og:url" content="{% url 'notifications:create_notification' %}" />
{% endblock meta_tags %}

{% block style %}
    <style>
        #div_id_notification_date > div {
            display: flex;
        }
        #id_notification_date_day, #id_notification_date_month, #id_notification_date_year {
            width: 33%;
        }    
    </style>
{% endblock style %}

{% block title %}{% translate 'Creating single notification' %}{% endblock title %}

{% block content %}
    <section>
        {% include 'misc/includes/navbar.html' with user=user %}

        {% if only_inactive == user.choose_sending.count %}
            <div>
                <h5>{% translate 'Before you can create a notification, you need to connect one of your networks' %}. <a href="{% url 'auth:profile' %}">{% translate 'Connect' %}</a></h5>
            </div>
        {% else %}
            {% if user.is_subscribed or all_notifications < 10 %}
                <div>
                    {% crispy form %}
                </div>
            {% else %}
                <h1>{% translate 'To create more notifications, you need to be a sub' %}</h1>
            {% endif %}
        {% endif %}
    </section>
{% endblock content %}