{% extends 'base.html' %}

{% load i18n %}

{% block meta_tags %}
    <meta name="description" content="{% translate 'Editing single notification' %}">
    <meta name="og:site_name" content="Notifications">
    <meta property="og:description" content="{% translate 'Editing single notification' %}" />

    <meta property="og:url" content="{% url 'notifications:edit_notification' pk=object.id %}" />
{% endblock meta_tags %}

{% block title %}{% translate 'Editing single notification' %}{% endblock title %}

{% block content %}
    <section>
        {% include 'misc/includes/navbar.html' with user=user %}
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% translate 'Edit' %}</button>
            </form>
        </div>
    </section>
{% endblock content %}