{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate 'Enter a new password' %}{% endblock %}

{% block content %}

{% if validlink %}
    <h1>{% translate 'Enter a new password' %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% translate 'Change my password' %}">
    </form>
{% else %}
    <p>{% translate 'This link is already outdated' %}. <a href="{% url 'auth:login' %}">{% translate 'Go back to the login page' %}</a></p>
{% endif %}

{% endblock %}