{% extends 'base.html' %}

{% load i18n %}

{% block meta_tags %}
    <meta name="description" content="{% translate 'Revoke all notification timestamps' %}">
    <meta name="og:site_name" content="Notifications">
    <meta property="og:description" content="{% translate 'Revoke all notification timestamps' %}" />
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{% url 'notifications:notification_periodic_revoke_all_time_stamps' pk=object.id %}" />
{% endblock meta_tags %}

{% block title %}{% translate 'Revoke all notification timestamps' %}{% endblock title %}

{% block content %}
    <section>
        {% include 'misc/includes/navbar.html' with user=user %}

        <h4>{% translate 'Are you sure you want to revoke all notification time stamps' %}?</h4>
        {% for time in notification_statuses %}
            <h3>{{ time.time_stamp|date:"H:i:s"  }}, {{ time.time_stamp|date:"d F Y" }}</h3>
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit">{% translate 'Revoke' %}</button>
        </form>
    </section>
{% endblock content %}