{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Changing mail' %}{% endblock title %}

{% block content %}
    <section>
        {% if is_subscribed %}
            <h1>{% translate 'Changing mail' %}</h1>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">{% translate 'Change mail' %}</button>
                </form>
            </div>
        {% else %}
            <div>
                <h1>{% translate 'You need to purchase a subscription to change your mail' %}</h1>
            </div>
        {% endif %}
    </section>
{% endblock content %}