{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Changing mail' %}{% endblock title %}

{% block content %}
    <section>
        {% if is_subscribed %}
            <h1>{% translate 'Changing mail' %}</h1>
            <div>
                {% crispy form %}
            </div>
        {% else %}
            <div>
                <h1>{% translate 'You need to purchase a subscription to change your mail' %}</h1>
            </div>
        {% endif %}
    </section>
{% endblock content %}