{% extends 'base.html' %}

{% load i18n %}

{% block title %} {% translate 'Login Page' %} {% endblock title %}

{% block content %}
    <section>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form_wrapper">
                    {{ form.as_p }}
                </div>
                <div class="forgot">
                    <a class="forgot_password" href="{% url 'auth:password_reset' %}">{% translate 'Forgot password?' %}</a>
                </div>
                <button type="submit">{% translate 'Log in' %}</button>
            </form>
            <span>Don`t have an account?<a href="{% url 'auth:registration' %}">{% translate 'Register' %}</a></span>
        </div>
    </section>
{% endblock content %}