{% extends 'base.html' %}
{% load i18n %}

{% block meta_tags %}
    <meta name="description" content="{% translate 'Registration Page' %}" />
    <meta name="og:site_name" content="Notifications">
    <meta property="og:description" content="{% translate 'Registration Page' %}" />
    <meta property="og:url" content="{% url 'auth:registration' %}" />
{% endblock meta_tags %}

{% block title %}{% translate 'Registration Page' %}{% endblock title %}

{% block content %}
    <section>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% translate 'Create account' %}</button>
            </form>
        </div>
    </section>
{% endblock content %}