{% extends 'base.html' %}

{% load i18n %}

{% block title %} {% translate 'Sender information' %} {% endblock title %}

{% block content %}
    <section>
        {% include 'misc/includes/navbar.html' with user=user %}
        <div>
            {% if sender %}
                {% if sender == 'telegram' %}
                    <h4>{% translate 'Your linked telegram' %} - {{ user.users_telegram.telegram_user }}</h4>
                    <h4>{% translate 'was added in' %} {{ user.users_telegram.started_time }}</h4>
                    <a href="{% url 'auth:delete_telegram' pk=user.users_telegram.id %}">{% translate 'Detach telegram' %}</a>
                {% elif sender == 'email' %}
                    <h4>{% translate 'Your linked email' %} - {{ user.email }}</h4>
                    <a href="{% url 'auth:changing_user_email' pk=user.id %}">{% translate 'Change e-mail' %}</a>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock content %}