{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <section>
        {% include 'misc/includes/navbar.html' with user=user %}
        {% if finished_notifications_length >= 1 %}
            {% for notification in finished_notifications %}
                {% if notification.notification_type == 'Single' %}
                    <a href="{{ notification.notification_single.get_url_path }}" class="d-block my-3 text-decoration-none">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"  style="color: {{ notification.notification_single.notification_category.color }}">
                                    {{ notification.notification_single.notification_category.name_type }}
                                </h5>
                                <h3 class="card-subtitle text-dark">{{ notification.notification_single.title }}</h3>
                                <p class="card-text text-dark">{{ notification.notification_single.text }}</p>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ notification.notification_periodic.get_url_path }}" class="d-block my-3 text-decoration-none">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" style="color: {{ notification.notification_periodic.notification_category.color }}">
                                    {{ notification.notification_periodic.notification_category.name_type }}
                                </h5>
                                <h3 class="card-text text-dark">{{ notification.notification_periodic.title }}</h3>
                                <p class="card-text text-dark">{{ notification.notification_periodic.text }}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <h1 class="text-center position-absolute top-50 start-50 translate-middle text-dark fs-2">{% translate 'You don`t have any finished notifications.' %}</h1>
        {% endif %}
        </div>
    </section>
{% endblock content %}