{% extends 'base.html' %}

{% load i18n tz %}

{% block meta_tags %}
    <meta name="og:site_name" content="Notifications">
    <meta property="og:title" content="Notifications | {{ notification_single_detail.title }}" />
    <meta property="og:description" content="Notifications | {{ notification_single_detail.text }}" />
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ notification_single_detail.get_url_path }}" />
{% endblock meta_tags %}

{% block title %}{% translate 'Single notification' %} - {{ notification_single_detail.title }} {% endblock title %}

{% block content %}
    <section>
        {% include 'misc/includes/navbar.html' with user=notification_single_detail.notification_type_single.user %}
        <div class="card position-absolute top-50 start-50 translate-middle">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between align-items-center">
                    
                        <h5 style='color: {{ notification_single_detail.notification_category.color }};'>{{ notification_single_detail.notification_category }}</h5>
                    <div>
                        {% if notification_single_detail.notification_type_single.check_all_notifications_are_complited == False %}
                            <a class="card-link" href="{% url 'notifications:edit_notification' pk=notification_single_detail.id %}">{% translate 'Edit' %}</a>
                        {% endif %}
                        <a class="card-link" href="{% url 'notifications:delete_notification' pk=notification_single_detail.id %}">{% translate 'Delete' %}</a>
                    </div>
                </div>
                <h4 class="card-subtitle">{{ notification_single_detail.title }}</h4>
                <p class="card-text pt-2 pb-2">{{ notification_single_detail.text }}</p>
            </div>
            <div class="card-body">
                {% if notification_single_detail.notification_status %}
                    {% if notification_single_detail.notification_status.done == 1 %}
                        <h5 class="card-text">{% translate 'You were reminded in' %}: {{ notification_single_detail.notification_time|date:"H:i:s"  }}, {{ notification_single_detail.notification_date|date:"d F Y" }}</h5>  
                    {% else %}
                        <h5 class="card-text">{% translate 'Notification execution time' %}: {{ notification_single_detail.notification_time|date:"H:i:s"  }}, {{ notification_single_detail.notification_date|date:"d F Y" }}</h5>     
                    {% endif %}
                    {% if user.is_staff and user_networks > 0 and notification_single_detail.notification_type_single.check_all_notifications_are_complited == False %}
                        <a class="card-link" href="{% url 'notifications:notificate_single_notification_only_for_admin' pk=notification_single_detail.id %}">{% translate 'Remind right now' %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
