{% extends 'base.html' %}

{% load i18n %}


{% block meta_tags %}
    <meta name="description" content="{% translate 'Add a new category for notifications' %}">
    <meta name="og:site_name" content="Notifications">
    <meta property="og:description" content="{% translate 'Add a new category for notifications' %}" />
    <meta property="og:url" content="{% url 'notification_categories:add_notification_category' %}" />
{% endblock meta_tags %}

{% block title %}{% translate 'Add a new category for notifications' %}{% endblock title %}

{% block content %}
<section>
    {% include 'misc/includes/navbar.html' with user=user %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% translate 'Create category' %}</button>
        </form>
    </div>
</section>
{% endblock content %}