{% extends 'base.html' %}

{% load i18n %}

{% block meta_tags %}
    <meta name="description" content="{% translate 'Editing notification category' %}">
    <meta name="og:site_name" content="Notifications">
    <meta property="og:description" content="{% translate 'Editing notification category' %}" />
    <meta property="og:url" content="{% url 'notification_categories:edit_notification_category' slug=object.slug %}" />
{% endblock meta_tags %}

{% block title %}{% translate 'Editing notification category' %}{% endblock title %}

{% block content %}
<section>
    {% include 'misc/includes/navbar.html' with user=user %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% translate 'Edit category' %}</button>
        </form>
    </div>
</section>
{% endblock content %}